<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>iuv电影院-电影选座</title>
		<link rel="stylesheet" href="css/ChooseSeat.css">
		<link rel="stylesheet" href="css/login.css">
		<link rel="stylesheet" href="css/register.css">

		<script type="text/javascript" src="js/vue/vue.js"></script>
		<script type="text/javascript" src="js/chooseSeat/sweetalert-dev.js"></script>
		<script type="text/javascript" src="js/common/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/login/login.js"></script>
		<script type="text/javascript" src="js/chooseSeat/ChooseSeat.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/waifu.css"/>
		<link rel="stylesheet" type="text/css" href="css/sweetalert.css">
	</head>

	<body>
		<div class="cover"></div>
		<div id="header">
			<div class="head2">
				<a id="search_a1" href=""></a>
				<div class="head3">
					<ul class="search_u1">
						<li class="search_l1">
							<a class="search_a2" href="main">首页</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="movclass1?classname=爱情">爱情</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="movclass1?classname=喜剧">喜剧</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">动作</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">科幻</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">恐怖</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">动画</a>
						</li>
					</ul>
				</div>
				<div class="head4">
					<form action="search" method="post">
						<input type="text" name="searchname" id="" placeholder="找影视剧、影人、影院" />
						<input type="submit" value="" />
					</form>
				</div>
				<div class="menu-bar-user">
					<!--未登录时-->
					<div class="menu-bar-denglu">
						<div class="triangle"></div>
						<div class="menu-bar-tui">
							<div class="tui-top">
								<img src="img/touxiang.png" />
								<p class="user-name">您未登录</p>
								<div class="tuichu">
									<a style="cursor: pointer" class="menu-denglu">请登录</a>
								</div>
							</div>
							<div class="tui-bottom">
								<ul class="tui-bottom-ul1">
									<li><img src="img/zhuye.png" /></li>
									<li><img src="img/huiyuan.png" /></li>
									<li><img src="img/help.png" /></li>
									<li><img src="img/shezhi.png" /></li>
								</ul>
								<ul class="tui-bottom-ul2">
									<li>主页</li>
									<li>会员</li>
									<li>帮助</li>
									<li>设置</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="middle">
			<div class="m2">
				<div id="hall">
					<div class="seat-example">
						<div class="selectable example">
							<span>可选座位</span>
						</div>
						<div class="sold example">
							<span>已售座位</span>
						</div>
						<div class="selected example">
							<span>已选座位</span>
						</div>
					</div>
					<div class="seats-block">
						<div class="rows-id-block">
							<span class="rows-id">1</span> <span class="rows-id">2</span> <span class="rows-id">3</span> <span class="rows-id">4</span> <span class="rows-id">5</span> <span class="empty-row-id"></span> <span class="rows-id">6</span> <span class="rows-id">7</span> <span class="rows-id">8</span> <span class="rows-id">9</span> <span class="rows-id">10</span> <span class="rows-id">11</span> <span class="rows-id">12</span>
						</div>
						<div class="seat">
							<div class="screen-block">
								<div class="screen">银幕中央</div>
							</div>
							<div class="seats-table" id="text">
								<div class="row" v-for="i in 5">
									<span class="seat selectable" v-for="i in 5" ></span>
									<div style="display: inline-block; width: 30px;height: 26px"></div>
									<span class="seat selectable" v-for="i in 5" ></span>
								</div>
								<div style="height: 26px"></div>
								<div class="row" v-for="i in 7">
									<span class="seat selectable" v-for="i in 5" ></span>
									<div style="display: inline-block; width: 30px;height: 26px"></div>
									<span class="seat selectable" v-for="i in 5" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="message">
					<div class="movie-info">
						<div class="poster">
							<img :src="movieMsg.smlPic">
						</div>
						<div class="content">
							<p class="name">{{movieMsg.mvName}}</p>
							<div class="info-item">
								<span>类型:</span> <span class="value type">{{movieMsg.type}}</span>
							</div>
							<div class="info-item">
								+<span>时长:</span> <span class="value time">{{movieMsg.mvTime}}分钟</span>
							</div>
						</div>
					</div>
					<div class="show-info">
						<div class="info-item">
							<span>影院:</span> <span class="value">iVU影院</span>
						</div>
						<div class="info-item">
							<span>放映厅:</span> <span class="value">第{{sceneMsg.hall}}厅</span>
						</div>
						<div class="info-item">
							<span>版本:</span> <span class="value session">{{movieMsg.area}}</span>
						</div>
						<div class="info-item">
							<span>放映时间:</span> <span class="value screen">{{sceneMsg.sceneTime}}</span>
						</div>
						<div class="info-item">
							<span>票价:</span> <span class="value">￥<span class="money">{{movieMsg.price}}</span>/张
							</span>
						</div>
					</div>
					<div class="ticket-info">
						<div class="no-ticket">
							<!--<p class="buy-limit">座位:一次最多选6个座位</p>-->
							<p class="no-selected">
								请<span>点击左侧</span>座位图选择座位
							</p>
						</div>
						<div class="has-ticket" style="display: none;">
							<span class="text">座位:</span>
							<div class="ticket-container">
								<!--<span class="ticket">5排1座</span>-->
							</div>
						</div>
						<div class="total-price">
							<span>总价:</span> <span class="m">￥</span>
							<span class="price">0</span>
						</div>
					</div>
					<div class="confirm-order">
						<div class="p">
							<div class="p3">
								<button class="b">确认选座</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<p class="friend-link">
				关于iUV :
				<a href="/" target="_blank">关于我们</a><span></span>
				<a href="/" target="_blank">管理团队</a><span></span>
				<a href="/" target="_blank">投资者关系</a>&nbsp;&nbsp;&nbsp;&nbsp; 友情链接 :
				<a href="https://www.meituan.com/" target="_blank">美团网</a><span></span>
				<a href="http://i.meituan.com/client" target="_blank">美团下载</a><span></span>
				<a href="https://www.huanxi.com" target="_blank">欢喜首映</a>
			</p>
			<p>商务合作邮箱：v@iyouwe.com 客服电话：10105335 违法和不良信息举报电话：4006018900</p>
			<p>用户投诉邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@iyouwe.com</p>
			<p>
				<a href="/" target="_blank">中华人民共和国增值电信业务经营许可证 京B2-20190350</a><span></span>
				<a href="/" target="_blank">营业性演出许可证 京演（机构）（2019）4094号</a>
			</p>
			<p>
				<a href="/" target="_blank">广播电视节目制作经营许可证 （京）字第08478号</a><span></span>
				<a href="/" target="_blank">网络文化经营许可证 京网文（2019）3837-369号 </a>
			</p>
			<p>
				<a href="/" target="_blank">iUV用户服务协议 </a><span></span>
				<a href="/" target="_blank">iUV平台交易规则总则 </a><span></span>
				<a href="/" target="_blank">隐私政策</a>
			</p>
			<p>
				<a href="/" target="_blank">京公网安备 11010102003232号 </a>
			</p>
			<p>湖南iUV文化传媒有限公司</p>
			<p>©2019 iUV电影 iyouwe.com</p>
			<div class="certificate">
				<img src="img/logo1.png" /> <img src="img/logo2.png" />
			</div>
		</div>

		<div class="waifu">
			<div class="waifu-tips"></div>
			<canvas id="live2d" width="280" height="250" class="live2d"></canvas>
			<div class="waifu-tool">
				<span class="fui-home"></span>
				<span class="fui-chat"></span>
				<span class="fui-eye"></span>
				<span class="fui-user"></span>
				<span class="fui-photo"></span>
				<span class="fui-info-circle"></span>
				<span class="fui-cross"></span>
			</div>
		</div>
	</body>
	<script src="assets/waifu-tips.js"></script>
	<script src="assets/live2d.js"></script>
	<script type="text/javascript">initModel("assets/")</script>
</html>