<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>iuv电影院-我的订单</title>
		<link rel="stylesheet" type="text/css" href="css/myticket.css" />
		<link rel="stylesheet" type="text/css" href="css/head.css" />
		<link rel="stylesheet" type="text/css" href="css/register.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />

		<script type="text/javascript" src="js/common/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/myticket/myticket.js"></script>
		<script type="text/javascript" src="js/login/login.js"></script>
		<script type="text/javascript" src="js/vue/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/waifu.css"/>
	</head>

	<body>
		<div class="cover"></div>
		<div class="head1">
			<div class="head2">
				<a id="search_a1" href=""></a>
				<div class="head3">
					<ul class="search_u1">
						<li class="search_l1">
							<a class="search_a2" href="main">首页</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="movclass1?classname=爱情">爱情</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="movclass1?classname=喜剧">喜剧</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">动作</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">科幻</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">恐怖</a>
						</li>
						<li class="search_l1">
							<a class="search_a2" href="">动画</a>
						</li>
					</ul>
				</div>
				<div class="head4">
					<form action="search" method="post">
						<input type="text" name="searchname" id="" placeholder="找影视剧、影人、影院" />
						<input type="submit" value="" />
					</form>
				</div>
				<div class="menu-bar-user">
					<!--未登录时-->
					<div class="menu-bar-denglu">
						<div class="triangle"></div>
						<div class="menu-bar-tui">
							<div class="tui-top">
								<img src="img/touxiang.png" />
								<p class="user-name">您未登录</p>
								<div class="tuichu">
									<a style="cursor: pointer" class="menu-denglu">请登录</a>
								</div>
							</div>
							<div class="tui-bottom">
								<ul class="tui-bottom-ul1">
									<li><img src="img/zhuye.png" /></li>
									<li><img src="img/huiyuan.png" /></li>
									<li><img src="img/help.png" /></li>
									<li><img src="img/shezhi.png" /></li>
								</ul>
								<ul class="tui-bottom-ul2">
									<li>主页</li>
									<li>会员</li>
									<li>帮助</li>
									<li>设置</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="user-profile-nav">
				<img src="img/touxiang1.png" style="margin-top: 20px;" />
				<h1>13087345445</h1>
				<ul class="user-profile-ul">
					<li class="orders acctive cursor">
						<a href="">我的订单</a>
					</li>
					<li class="profile cursor">
						<a href="">基本信息</a>
					</li>
				</ul>
			</div>
			<div class="orders-controller">
				<div class="profile-title">我的订单</div>
				<!--订单-->
				<div class="profile-context" v-for="order in AllOrder">
					<div class="order-header"><span class="order-date">{{order.orderTime}}</span> <span class="order-id">iuv订单号:{{order.id}}</span></div>
					<div class="order-body">
						<div class="poster"><img :src="order.movieImg"></div>
						<div class="order-content">
							<div class="movie-name">&lt;{{order.mvName}}&gt;</div>
							<div class="cinema-name">iuv电影院(长沙店)-<span class="hall-ticket">{{order.hall}}号厅</span></div>
							<div class="hall-ticket"><span v-for="seat in order.seatId" style="margin-right: 7px">{{seat}}</span></div>
							<div class="show-time">{{order.sceneTime}}</div>
						</div>
						<div class="order-price">¥{{order.price}}</div>
						<div class="order-status">已完成</div>
						<div class="actions">
							<div>
								<a class="order-detail" href="" data-act="orders-datail-cick" data-bid="#">查看详情</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="waifu">
			<div class="waifu-tips"></div>
			<canvas id="live2d" width="280" height="250" class="live2d"></canvas>
			<div class="waifu-tool">
				<span class="fui-home"></span>
				<span class="fui-chat"></span>
				<span class="fui-eye"></span>
				<span class="fui-user"></span>
				<span class="fui-photo"></span>
				<span class="fui-info-circle"></span>
				<span class="fui-cross"></span>
			</div>
		</div>
	</body>
	<script src="assets/waifu-tips.js"></script>
	<script src="assets/live2d.js"></script>
	<script type="text/javascript">initModel("assets/")</script>
</html>