.cover {
	background: rgb(128,128,128,0.5);
	position: absolute;
	display: none;
	left: 0px; 
	top: 0px; 
	width: 100%;
	height: 1475px;
	z-index: 3;	   
}
/*导航条ul,li*/
ul,li {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header{
	width:100%;
	border-bottom:1px solid #d8d8d8;
	background: rgb(250,250,250);
	min-width:1200px;
	position:fixed;
	z-index:999;
	margin:0;
	top:0;
	left:0;
}

.head2{
	/*border: 1px solid red;*/
	width: 1200px;
    margin: 0 auto;
    height: 80px;
}

#search_a1{
	float: left;
    width: 133px;
    height: 80px;
    background: url('../img/logo.PNG') no-repeat;
}

.head3{
	display: inline-block;
    margin-left: 10px;
    width: 640px;
    height: 100%;
    /*background-color: #FF6400;*/
}

.search_u1{
	border: 0;
	margin: 0;
	padding: 0;
}

.search_l1{
	text-align: center;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 60px;
    font-size: 20px;
    color: #333;
    margin-left: 22px;
}

.search_a2{
	display: inline-block;
	width: 80px;
	/*border: 1px solid green;*/
	color: #333;
	text-decoration: none;
}

.search_a2:hover{
	color: #FF6400;
}

.head4{
	position: relative;
	margin-left: 10px;
	vertical-align: top;
	/*border: 1px solid red;*/
	display: inline-block;
    width: 300px;
    height: 100%;
}

.head4 input[type="text"]{
	display: inline-block;
	margin-top: 20px;
    height: 40px;
    line-height: 1.2;
    width: 220px;
    padding: 0 40px 0 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 30px;
    background-color: #faf8fa;
    overflow: hidden;
    color: #333;
    outline: none;
}

.head4 input[type="submit"]{
	display: inline-block;
	/*border: 2px solid greenyellow;*/
	border: 0;
    position: absolute;
    left: 241px;
    top: 21px;
    height: 40px;
    width: 40px;
    background-color: #FF6400;
    border-radius: 30px;
    background-image: url('../img/search1.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    cursor: pointer;
}

.menu-bar-user {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	background-image: url(../img/touxiang.png);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 10px 15px;
	cursor: pointer;
}
.menu-bar-denglu {
	width: 250px;
	height: 250px;
	display: none;
	margin: 68px -180px;
}
.triangle {
	width: 0;
	margin-top: -10px;
	margin-left: 205px;
	border: 10px solid #D3D3D3;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.menu-bar-tui {
	width: 250px;
	height: 240px;
	border-radius: 7px;
	background: white;
	border-top: 1px solid rgb(240,240,240);
	border-right: 1px solid rgb(240,240,240);
	border-left: 1px solid rgb(240,240,240);
	box-shadow: 0px 0px 5px 2px #D3D3D3;
}
.menu-bar-tui .tui-top {
	width: 100%;
	height: 170px;
}
.menu-bar-tui img {
	margin: 15px 90px;	
}
.menu-bar-tui .user-name {
	display: block;
	margin-top: -5px;
	padding: 0;
	font-size: 20px;
	text-align: center;
}
.menu-bar-tui .tuichu {
	width: 100px;
	height: 30px;
	margin: -10px auto;
	text-align: center;
	line-height: 30px;
	color: white;
	font-size: 15px;
	background: #FF6400;
	border-radius: 20px;
}
.menu-bar-tui .tuichu a {
	color: white;
}
.menu-bar-tui .tui-bottom {
	width: 100%;
	height: 60px;
	margin-top: 8px;
	background: #FAFAFA;
	box-shadow: 0px -5px 5px -5px #D3D3D3;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.tui-bottom ul {
	float: left;
}
.tui-bottom .tui-bottom-ul1 {
	margin-top: 5px;
}
.tui-bottom .tui-bottom-ul1 li {
	width: 62px;
	height: 35px;
	text-align: center;
	float: left;
}
.tui-bottom img {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.tui-bottom .tui-bottom-ul2 li {
	width: 47px;
	margin-left: 15px;
	height: 20px;
	color: #696969;
	font-size: 15px;
	float: left;
	line-height: 20px;
}

#middle{
	width:1200px;
	margin:auto;
	height:895px;
	margin-top:121px;
}

#middle .m1{
	width:100%;
	height:60px;
	margin-bottom:40px;
	background:rgba(255,140,45,0.5);
}

#middle .m1 .t{
	float: left;
    width: 20%;
    font-size: 22px;
    color: #fff;
    display: inline-block;
    margin-top:15px;
}

#middle .m1 .t1{
	text-align: center;
}

#middle .m2{
	width:100%;
	border:1px solid #e5e5e5;
	font-size:0;
}

#middle .m2 #hall{
	display:inline-block;
	width:820px;
	height:667px;
	vertical-align:top;
}

#middle .m2 #hall .seat-example{
	margin:30px 0 30px 118px;
	height:26px;
}

#hall .seat-example .example{
	display:inline-block;
	font-size:16px;
	line-height:26px;
	color:#666;
	height:26px;
	margin-left:86px;
	padding-left:38px;
	background-repeat: no-repeat;
}

#hall .seat-example .selectable{
	background-image: url('../img/seat01.png');
	background-size:30px 26px;
}

#hall .seat-example .sold{
	background-image: url('../img/seat02.png');
	background-size:30px 26px;
}

#hall .seat-example .selected{
	background-image: url('../img/seat03.png');
	background-size:30px 26px;
}

#middle .m2 #hall .seats-block{
	font-size:0px;
	margin-left:20px;
}

#hall .seats-block .rows-id-block{
	width:20px;
	margin-top:112px;
	float:left;
}

#hall .seats-block .rows-id-block .rows-id{
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	width:20px;
	height:26px;
	margin-right:40px;
	margin-bottom:10px;
	text-align:center;
	border-radius:10px;
	background: #f08e37;
}

#hall .seats-block .rows-id-block .empty-row-id{
	display:inline-block;
	width:20px;
	height:20px;
}

#hall .seats-block .seat{
	margin-left:50px;
	height:452px;
	padding-top:112px;
}

.seat .screen-block{
	display:inline-block;
	position:absolute;
	top:308px;
	bottom:0;
	z-index:-1;
	margin-left:100px;
}

#hall .seats-block .seat .screen-block .screen{
	width: 550px;
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background: url('../img/1.png') no-repeat;
    background-position-x: center;
    position: relative;
    margin-bottom: 40px;
}

#hall .seats-block .seat .seats-table{
	display:inline-block;
	margin-left:175px;
}

#hall .seats-block .seat .seats-table .row{
	height:26px;
	white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
}

.seat.sold{
	background: url('../img/seat03.png') no-repeat;
}

.seat.selected{
	background: url('../img/seat02.png') no-repeat;
}

.seat.selectable{
	background: url('../img/seat01.png') no-repeat;
}

#hall .seats-block .seat .seats-table .row .seat{
	display: inline-block;
	padding-top:0;
    font-size: 0;
    width: 30px;
    height: 26px;
    margin: 0 5px;
    /*background: url('../img/seat01.png') no-repeat;*/
    background-position: 0 1px;
    background-size:30px 26px;
}

#hall .seats-block .seat .seats-table .empty-row{
    margin-bottom: 26px;
}

#middle .m2 #message{
	display:inline-block;
	width:340px;
	height:753px;
	padding:20px;
	background: rgba(240,159,55,0.05);
}

#middle .m2 #message .movie-info{
	height:162px;
}

#middle .m2 #message .movie-info .poster{
	width: 115px;
    height: 158px;
    border: 1px solid #fff;
    box-shadow: 0 2px 7px 0;
    float: left;
}

#middle .m2 #message .movie-info .poster img{
	width: 115px;
    height: 158px;
}

#middle .m2 #message .movie-info .content{
	margin-left: 140px;
}

#middle .m2 #message .movie-info .content .name{
	font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0 0 14px;
}

#middle .m2 #message .info-item{
	font-size: 12px;
    color: #999;
    margin-bottom: 4px;
}

#middle .m2 #message .show-info{
	height:143px;
	margin-top:12px;
}

#middle .m2 #message .show-info .info-item{
	margin-bottom:8px;
}

#message .show-info .info-item .screen{
	color: #FF6400;
}

#message .info-item .value{
	color: #151515;
	font-size: 16px;
    margin-left: 2px;
}

#middle .m2 #message .ticket-info{
	/*height:168px;*/
	padding:20px 0 10px;
	border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
}

#middle .m2 #message .ticket-info .no-ticket .buy-limit{
	font-size: 14px;
    color: #999;
    margin: 0;
}

#middle .m2 #message .ticket-info .no-ticket .no-selected{
	font-size: 14px;
    color: #333;
    text-align: center;
    margin: 28px 0 39px;
}

#message .ticket-info .no-ticket .no-selected span{
	color: #f03d37;
}

#middle .m2 #message .ticket-info .has-ticket .text{
	font-size: 14px;
    color: #999;
    float: left;
}

#middle .m2 #message .ticket-info .has-ticket .ticket-container{
	margin-left: 42px;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
}

#message .ticket-info .has-ticket .ticket-container .ticket{
	cursor: default;
    position: relative;
    font-size: 12px;
    color: #FF6400;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 12px 10px 0;
    border: 1px solid #FF6400;
}

#middle .m2 #message .ticket-info .total-price span{
	font-size: 14px;
    color: #FF6400;
}

#middle .m2 #message .ticket-info .total-price .m{
	font-size: 14px;
	color: #FF6400;
}

#middle .m2 #message .ticket-info .total-price .price{
	color: #FF6400;
    font-size: 24px;
}

#middle .m2 #message .confirm-order{
	padding:20px 0;
	text-align:center;
}

#middle .m2 #message .confirm-order .p{
	display: inline-block;
    width: 260px;
    padding: 0;
}

#middle .m2 #message .confirm-order .p .p1{
	position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

#message .confirm-order .p .p1 .i1{
	display: block;
    width: 218px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-bottom: 6px;
    padding: 0 20px;
    color: #333;
    background: #fff;
    font-size: 14px;
    outline:none;
}

#message .confirm-order .p .p2 .i2{
	display: block;
    width: 218px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-bottom: 6px;
    padding: 0 20px;
    color: #333;
    background: #fff;
    font-size: 14px;
    outline:none;
}

#message .confirm-order .p .p3 .b{
	width: 260px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 16px;
    color: #fff;
    display: block;
    border: none;
    outline:none;	
    box-shadow: none;
    background-color: #dedede;
}

#middle .m2 #message .confirm-order .p .p2{
	position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

#middle .m2 #message .confirm-order .p .pp{
	display: inline-block;
    position: absolute;
    top: 11px;
    right: 15px;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #ccc;
}

#middle .m2 #message .confirm-order .p .p3{
	margin-top: 45px;
}
    
#footer{
	min-width:1200px;
	margin:0 auto;
	padding:56px 0;
	background:#262424;
	margin-top:82px;
}

#footer p{
	margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: #ccc;
}

#footer p span{
	display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 7px;
    height: 12px;
    position: relative;
    top: 1px;
}

#footer .friend-link a{
	color:#FF6400;
}

#footer a{
	text-decoration: none;
	color: #ccc;
}

#footer .certificate{
	margin-top: 20px!important;
    margin: 0;
    padding: 0;
    text-align: center;
}
