/*热映电影*/
.hotmv {
	width: 1200px;
	height: 550px;
	margin: 20px auto;
}
.newmv {
	width: 1200px;
	height: 550px;
	margin: 30px auto;
}

/*电影的分类标题*/
.hoting,.newing,.loving {
	width: 1200px;
	height: 50px;
}
.hot-title,.new-title,.love-title {
	width:160px;
	height: 40px;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 28px;
	border-radius: 3px;
	border-left: 5px #FF6400 solid;
	color: #333;
	float: left;
	text-align: center;
}
.hotmv .hot-all a,
.newmv .new-all a,
.lovemv .love-all a{
	width: 100px;
	height:20px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 15px;
	color: #FF6400;
	text-decoration: none;
	float:right;
	text-align: right;
}
/*热映电影的海报*/
.hotmv-pic,
.newmv-pic {
	width:1200px;
	height: 520px;
	margin-top: 10px;
	position: relative;
}
.hotmv-pic-ul ul,
.newmv-pic-ul ul,
.lovemv-pic-ul ul {
	list-style: none;
}
/*大海报*/
.hotmv-pic-big,
.newmv-pic-big {
	width: 360px;
	height: 220px;
	margin-left: 20px;
	float: left;
}

/*小海报*/
.hotmv-pic-sma,
.newmv-pic-sma {
	width: 805px;
	height: 220px;
	margin-left: 420px;
}
.hotmv-pic-sma li {
	float: left;
	margin-right: 40px;
}
/*海报上的电影名(黑色阴影)*/
.hotmv .movie-title,
.newmv .movie-title{
	background: linear-gradient(to bottom,rgba(100,100,100,0.1), rgba(0,0,0,1));
	text-align: center;
	font-size: 20px;
	position: absolute;
	color:white;
	margin: auto;
}
.big-post .movie-title{
	width: 360px;
	height: 50px;
	line-height: 50px;
	top: 170px;
}
.sml-post .movie-title{
	width: 160px;
	height: 50px;
	line-height: 50px;
	top: 170px;
}
/*查看和购票按钮*/
.hotmv .mask,
.newmv .mask,
.lovemv .mask {	
	height: 50px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	position: absolute;
}
.hotmv a,
.newmv a{
	text-decoration: none;
	color: white;
	text-align: center;
	width: 80px;
}
/*查看*/
.hotmv .look,
.newmv .look {
	left: 0;
}
/*购买*/
.hotmv .buy,
.newmv .buy {
	right: 0;
	border-left:1px solid white;
}
/*大海报里的查看和购票按钮*/
.hotmv .mask-big,
.newmv .mask-big{
	width: 361px;
	margin: auto;
	top:170px;
}
.hotmv .mask-big div,
.newmv .mask-big div {
	background: linear-gradient(to bottom,rgba(255,200,170), rgba(255,100,0));
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	float: left;
}
/*小海报里的查看和购票按钮*/
.hotmv .mask-sml,
.newmv .mask-sml {
	width: 161px;
	height: 40px;
	line-height: 40px;
	top:180px;
	text-align: center;
	font-size: 20px;
}
.hotmv .small-div,
.newmv .small-div {
	background: linear-gradient(to bottom,rgba(255,200,170), rgba(255,100,0));
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	float: left;
}

/*海报图片和鼠标经过事件*/
.hotmv .look:hover,
.newmv .look:hover {
	background: #FF6400;
}
.hotmv .buy:hover,
.newmv .buy:hover {
	background: #FF6400;
}
.hotmv img,
.newmv img {
	width:100%;
	height: 220px;
	transition: transform 0.4s;
}
.hotmv .pic:hover img,
.newmv .pic:hover img {
	transform: translateY(-10px);
}
.hotmv .mask,
.newmv .mask {
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.3s, opacity 0.1s;
}
.pic:hover .mask{
	opacity: 1;
	transform: translateY(0px);
	transition:transform 0.3s, opacity 0.1s;
}
.hotmv-pic .pic,
.newmv-pic .pic {
	overflow: hidden;
}

/*电影下半部分*/
.hotmv-btm {
	width: 1160px;	
	height: 220px;
	margin: 40px 20px;
}
.hotmv-btm img {
	width: 160px;
	height: 220px;
}
.hotmv-btm li:last-child {
	margin: 0;
}
/*海报上的电影名(黑色阴影)*/
.hotmv-btm .sml-post .movie-title{
	top: 430px;
}
/*小海报里的查看和购票按钮*/
.hotmv-btm .mask-sml{
	top:440px;
}

/*爱情分类电影*/
.lovemv {
	width: 1200px;
	height: 350px;
	margin: 30px auto;
	position: relative;
}
.lovemv li {
	float: left;
	margin-right: 41px;
}
.lovemv li:last-child {
	margin-right: 0;
}
.lovemv img {
	width: 160px;
	height: 220px;
}
.lovemv .lovemv-pic {
	margin: 10px 10px 40px 20px;
}
.lovemv .movie-title {
	width: 160px;
	height: 40px;
	top: 240px;
	line-height: 40px;
	background: linear-gradient(to bottom,rgba(200,200,200,0.1), rgba(0,0,0,0.8));
	text-align: center;
	font-size: 20px;
	position: absolute;
	color: white;
}
.lovemv .mask {
	margin-left: 80px;
}
.lovemv .mask div {
	background-color: white;
	width: 79px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: -4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid lightgrey;
}
.lovemv .look {
	left: 0;
	border-right-color: lightgrey;
}
.lovemv .buy{
	right: 0;
	border-left-color: lightgrey;
}
.lovemv-pic a {
	color: #FF6400;
}
.lovemv .look:hover {
	background: radial-gradient(rgb(255,170,110),rgb(255,157,94),rgb(230,90,0));
}
.lovemv .buy:hover {
	background: radial-gradient(rgb(255,170,110),rgb(255,157,94),rgb(230,90,0));
}
.lovemv .look:hover a {
	color: white;
}
.lovemv .buy:hover a {
	color: white;
}
