body {
	margin: 0;
	padding: 0;
}
.cover {
	background: rgb(128,128,128,0.5);
	position: absolute;
	display: none;
	left: 0px; 
	top: 0px; 
	width: 100%;
	height: 2450px;
	z-index: 3;	   
}
/*菜单栏*/
.menu {
	width: 100%;
	height: 480px;
	background: rgb(200,136,143);
	background-size: cover;
}

/*菜单栏导航条*/
.menu-bar {
	position:fixed;
	z-index: 2;
	left:0;
	top:0;
	width: 100%;
	height: 80px;	
	/*渐变背景*/
	background: linear-gradient(to top, rgba(200,200,200,0.1), rgba(0,0,0,0.8));
}
.menu-bar-main {
	margin: 0 auto;
	width: 1300px;
	height: 80px;
}

/*导航条logo*/
.menu-bar-logo {
	width: 133px;
	height: 80px;
	float: left;
	background: url(../img/logo.png);
}

/*导航条ul,li*/
ul,li {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-bar-ul {
	display: inline-block;
	width: 640px;
	height: 100%;
	margin-left: 50px;
}
.menu-bar-ul li {
	float: left;
}
a {
	text-decoration: none;
}
.menu-bar-ul li a {
	width: 60px;
	height: 80px;
	padding: 0 15px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.menu-bar-ul li:first-child a {
	border-bottom: solid white 3px;
}
/*鼠标经过导航条效果*/
.menu-bar-ul li:hover a{
	color: rgb(255,100,0);
	border-bottom: solid rgb(255,100,0) 3px;
	cursor: pointer;
}

/*导航条搜索框*/
.menu-bar-search {
	width: 300px;
	height: 100%;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	position: relative;
} 
.menu-bar-search input[type="text"]{
	display: inline-block;
	margin-top: 18px;
    height: 44px;
    line-height: 1.2;
    width: 220px;
    padding: 0 38px 0 20px;
    border: 1px solid rgb(255,100,0,0.5);
    font-size: 14px;
    border-radius: 30px;
    background: rgb(255,255,255,0.5);
    overflow: hidden;
    -webkit-text-fill-color: dimgray;
    outline: none;
}
.menu-bar-search input[type="submit"]{
	display: inline-block;
	border: 0;
    position: absolute;
    left: 237px;
    top: 21px;
    height: 40px;
    width: 40px;
    background-color: #FF6400;
    border-radius: 30px;
    background-image: url(../img/search1.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    cursor: pointer;
    outline:none;
}

/*导航条用户头像*/
.menu-bar-user {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	background-image: url(../img/touxiang.png);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 10px 15px;
	cursor: pointer;
}
.menu-bar-denglu {
	width: 250px;
	height: 250px;
	display: none;
	margin: 68px -180px;
}
.triangle {
	width: 0;
	margin-top: -10px;
	margin-left: 205px;
	border: 10px solid #D3D3D3;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.menu-bar-tui {
	width: 250px;
	height: 240px;
	border-radius: 7px;
	background: white;
	border-top: 1px solid rgb(240,240,240);
	border-right: 1px solid rgb(240,240,240);
	border-left: 1px solid rgb(240,240,240);
	box-shadow: 0px 0px 5px 2px #D3D3D3;
}
.menu-bar-tui .tui-top {
	width: 100%;
	height: 170px;
}
.menu-bar-tui img {
	margin: 15px 90px;	
}
.menu-bar-tui .user-name {
	display: block;
	margin-top: -5px;
	padding: 0;
	font-size: 20px;
	text-align: center;
}
.menu-bar-tui .tuichu {
	width: 100px;
	height: 30px;
	margin: -10px auto;
	text-align: center;
	line-height: 30px;
	color: white;
	font-size: 15px;
	background: #FF6400;
	border-radius: 20px;
}
.menu-bar-tui .tuichu a {
	color: white;
}
.menu-bar-tui .tui-bottom {
	width: 100%;
	height: 60px;
	margin-top: 8px;
	background: #FAFAFA;
	box-shadow: 0px -5px 5px -5px #D3D3D3;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.tui-bottom ul {
	float: left;
}
.tui-bottom .tui-bottom-ul1 {
	margin-top: 5px;
}
.tui-bottom .tui-bottom-ul1 li {
	width: 62px;
	height: 35px;
	text-align: center;
	float: left;
}
.tui-bottom img {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.tui-bottom .tui-bottom-ul2 li {
	width: 47px;
	margin-left: 15px;
	height: 20px;
	color: #696969;
	font-size: 15px;
	float: left;
	line-height: 20px;
}
/*菜单栏轮播图*/
.menu-bac {
	width: 1900px;
	height: 480px;
	margin: auto;
	/*overflow: hidden;*/
	position: relative;
	z-index: 1;
}
.menu-bac #menu-img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.5s;
}
/*轮播图小圆点*/
.menu-dot {
	position: absolute;
	top: 430px;
	left: -140px;
	width: 100%;
	height: 25px;
	text-align: center;
}
.menu-dot .menu-dot-ul {
	display: inline-block;
	margin: 0 auto;
	height: 10px;
	padding: 6px;
	border-radius: 15px;
	background: rgb(255,255,255,0.4);
}
.menu-dot-ul li {
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	color: white;
	text-align: center;
	margin: 0 10px;
	background-color: white;
	cursor: pointer;
}
.menu-dot-ul li:hover {
	background: #FF6400;
}
#menu-dot {
	background-color: #FF6400;
} 

/*票房榜*/
.menu-ranking {
	position: absolute;
	z-index: 2;
	top: 79px;
	right: 200px;
	
	width: 280px;
	height: 400px;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(100,100,100,0.1));
}
.menu-ranking p {
	margin-left: 10px;
	font-size: 17px;
	color: white;
}
.menu-ranking a p:nth-child(2) {
	display: none;
}
#rank-dot {	
	display: inline-block;
	width: 280px;
	height: 80px;
	background: white;
	border-radius: 3px;
}
/*改变后的排行榜*/
#rank-dot .rank1 {
	margin: 10px;
	color: #FF6400;
	font-size: 25px;
}
#rank-dot .rank2 {
	display: block;
	margin: -5px 10px;
	color: gray;
	font-size: 15px;	
}


