.cover {
	background: rgb(128,128,128,0.5);
	position: absolute;
	display: none;
	left: 0px; 
	top: 0px; 
	width: 100%;
	height: 1450px;
	z-index: 3;	   
}
.movclass_div1{
	margin: auto;
	margin-top: 120px;
	border: 3px solid rgb(220,220,220);
	border-radius: 5px;
	height: 200px;
	width: 979px;
	background: rgb(252,252,252);
}
.movclass_div1_div1{
	/*border: 1px solid green;*/
	height: 100px;
	/*border-bottom: 2px solid gray;*/
}
.movclass_div1_div1 span{
	/*border: 1px solid deepskyblue;*/
	display: inline-block;
	height: 100px;
	width: 50px;
	margin-left: 20px;
	color: #999;
	line-height: 50px;
	text-align: right;
}
.movclass_div1_div1 ul{
	padding: 0;
	margin: 0;
	/*border: 1px solid yellowgreen;*/
	display: inline-block;
	vertical-align: top;
	width: 900px;
	height: 100px;
	/*margin-left: 10px;*/
}
.movclass_div1_div1 li{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	margin-top: 5px;
}
.movclass_div1_div1 li a{
	color: #333;
	text-decoration: none;
}
.movclass_div1_div1 li a:hover{
	color: #FF6400;
}
hr{
	margin: 0 auto;
	padding: 0;
	width: 940px;
	margin-top: -1px;
}
.movclass_div1_div2{
	/*border: 1px solid green;*/
	height: 100px;
}
.movclass_div1_div2 span{
	/*border: 1px solid deepskyblue;*/
	display: inline-block;
	height: 100px;
	width: 50px;
	margin-left: 20px;
	color: #999;
	line-height: 50px;
	text-align: right;
}
.movclass_div1_div2 ul{
	padding: 0;
	margin: 0;
	/*border: 1px solid yellowgreen;*/
	display: inline-block;
	vertical-align: top;
	width: 900px;
	height: 100px;
	/*margin-left: 10px;*/
}
.movclass_div1_div2 li{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 5px;
	margin-top: 5px;
}
.movclass_div1_div2 li a{
	color: #333;
	text-decoration: none;
}
.movclass_div1_div2 li a:hover{
	color: #FF6400;
}
.movclass_div2{
	margin: auto;
	margin-top: 30px;
	height: 1100px;
	width: 1006px;
}
.movclass_div2_div1{
	display: inline-block;
	vertical-align: top;
	height: 290px;
	width: 160px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 21px;
}
.movclass_div2_yel {
	width: 160px;
	height: 60px;
	margin-top: -6px;
	border: 1px solid #efefef;	
	box-shadow: 0px 0px 5px 1px #D3D3D3;
}
.movclass_div2_div1>a{
	display: inline-block;
	height: 220px;
	width: 160px;
	/*border: 1px solid green;*/
}
.movclass_div2_div1 a img{
	height: 220px;
	width: 160px;
	border: 1px solid #D3D3D3;	
	box-shadow: 0px 0px 5px 1px #999;
}
.movclass_div2_div1_p1{
	/*border: 1px solid red;*/
	text-align: center;
	margin-top: 5px;
}
.movclass_div2_div1_p1 a{
	text-decoration: none;
	color: #333;
	font-size: 15px;
}
.movclass_div2_div1_p1 a:hover{
	font-weight: bold;
	font-size: 16px;
}
.movclass_div2_div1_p2{
	/*border: 1px solid red;*/
	text-align: center;
	color: #ff6400;
	font-size: 20px;
	margin-top: -10px;
	font-weight: bolder;
}
