.cover {
	background: rgb(128,128,128,0.5);
	position: absolute;
	display: none;
	left: 0px; 
	top: 0px; 
	width: 100%;
	z-index: 3;	   
}
.cursor {
	cursor: pointer;
}
.content {
	border: 1px solid #e1e1e1;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.user-profile-nav {
	float: left;
    top: 110px;
    bottom: 0;
    width: 200px;
    background-color: rgb(250,250,250);
    text-align: center;
    border-right: 1px solid #e1e1e1;
}
.user-profile-nav img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.user-profile-nav h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #222;
    font-weight: 400;
}
.user-profile-nav ul,li,a {
	list-style: none;
	text-decoration: none;
}
.user-profile-nav li {
	width: 200px;
	height: 50px;
	margin-bottom: 1px;
}
.user-profile-nav li:hover {
	background: rgb(230,230,230);
}
.user-profile-nav li:first-child {
	font-weight: bold;
    background: rgb(230,230,230);
}
.user-profile-nav  a {
	font-size: 16px;
	color: black;
	line-height: 50px;
}
.orders-controller{
    float: right;
    width: 950px;
    min-height: 900px;
}
.profile-title{
    padding: 20px 0;
    color: #ff6400;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}
.profile-context {
	margin-bottom: 10px;
	border: 1px solid rgb(230,230,230);
}
.order-box {
    border: 1px solid #e5e5e5;
    margin: 0 40px 30px 0;
}
.order-date {
    color: #333;
    display: inline-block;
    margin-right: 30px;
	font-size: 14px;
}
.order-id {
    color: #999;
}
.order-header {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 16px 20px;
}
.order-body {
    padding: 20px;
    padding-right: 0;
}
 .poster {
    border: 2px solid #fff;
    /* -webkit-box-shadow: 0 1px 2px 0 hsla(0,0%,53%,.5); */
    box-shadow: 0 1px 2px 0 hsla(0,0%,53%,.5);
    margin-right: 11px;
    font-size: 0;
}
.poster img{
    width: 80px;
}
.order-body>div {
    display: inline-block;
    vertical-align: top;
}
.order-content {
    width: 49%;
	
}
.movie-name {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 4px 0 7px -6px;
}
.cinema-name, .hall-ticket {
    font-size: 13px;
    color: #999;
    margin-bottom: 5px;
}
.show-time {
    font-size: 13px;
    color: #f03d37;
}
.order-price,.order-status,.order-detail{
    font-size: 16px;
    color: #333;
    width: 12%;
    line-height: 95px;
}
.order-price {
	font-size: 18px;
	font-weight: bold;
	color: #FF6400;
}
