body{
	margin: 0;
	padding: 0;
}
.cover {
	background: rgb(128,128,128,0.5);
	position: absolute;
	display: none;
	left: 0px; 
	top: 0px; 
	width: 100%;
	height: 2200px;
	z-index: 3;	   
}
.head1{
	position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1200px;
    background: white;
    border-bottom: 1px solid #d8d8d8;
}
.head2{
	/*border: 1px solid red;*/
	width: 1200px;
    margin: 0 auto;
    height: 80px;
}
#search_a1{
	float: left;
    width: 133px;
    height: 80px;
    background: url(../img/logo.png) no-repeat;
}
.head3{
	display: inline-block;
    margin-left: 10px;
    width: 640px;
    height: 100%;
    /*background-color: #FF6400;*/
}
.search_u1{
	border: 0;
	margin: 0;
	padding: 0;
}
.search_l1{
	text-align: center;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 60px;
    font-size: 20px;
    color: #333;
    margin-left: 22px;
}
.search_a2{
	display: inline-block;
	width: 80px;
	height: 80px;
	/*border: 1px solid green;*/
	line-height: 80px;
	text-decoration: none;
	color: #333;
}
.search_a2:hover{
	color: #FF6400;
}
.head4{
	position: relative;
	margin-left: 10px;
	vertical-align: top;
	/*border: 1px solid red;*/
	display: inline-block;
    width: 300px;
    height: 100%;
}
.head4 input[type="text"]{
	display: inline-block;
	margin-top: 18px;
    height: 44px;
    line-height: 1.2;
    width: 220px;
    padding: 0 38px 0 20px;
    border: 1px solid rgb(255,100,0,0.5);
    font-size: 14px;
    border-radius: 30px;
    background-color: #faf8fa;
    overflow: hidden;
    color: #333;
    outline: none;
}
.head4 input[type="button"]{
	display: inline-block;
	/*border: 2px solid greenyellow;*/
	border: 0;
    position: absolute;
    left: 237px;
    top: 21px;
    height: 40px;
    width: 40px;
    background-color: #FF6400;
    border-radius: 30px;
    background-image: url(../img/search1.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    cursor: pointer;
    outline:none;
}
/* .head5{
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	background-image: url(../img/touxiang.png);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 10px 15px;
	cursor: pointer;
} */
.menu-bar-user {
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	background-image: url(../img/touxiang.png);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 10px 15px;
	cursor: pointer;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-bar-denglu {
	width: 250px;
	height: 250px;
	display: none;
	margin: 68px -180px;
}
.triangle {
	width: 0;
	margin-top: -10px;
	margin-left: 205px;
	border: 10px solid #D3D3D3;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.menu-bar-tui {
	width: 250px;
	height: 240px;
	border-radius: 7px;
	background: white;
	border-top: 1px solid rgb(240,240,240);
	border-right: 1px solid rgb(240,240,240);
	border-left: 1px solid rgb(240,240,240);
	box-shadow: 0px 0px 5px 2px #D3D3D3;
}
.menu-bar-tui .tui-top {
	width: 100%;
	height: 170px;
}
.menu-bar-tui img {
	margin: 15px 90px;	
}
.menu-bar-tui .user-name {
	display: block;
	margin-top: -5px;
	padding: 0;
	font-size: 20px;
	text-align: center;
}
.menu-bar-tui .tuichu {
	width: 100px;
	height: 30px;
	margin: -10px auto;
	text-align: center;
	line-height: 30px;
	color: white;
	font-size: 15px;
	background: #FF6400;
	border-radius: 20px;
}
.menu-bar-tui .tuichu a {
	color: white;
}
.menu-bar-tui .tui-bottom {
	width: 100%;
	height: 60px;
	margin-top: 8px;
	background: #FAFAFA;
	box-shadow: 0px -5px 5px -5px #D3D3D3;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.tui-bottom ul {
	float: left;
}
.tui-bottom .tui-bottom-ul1 {
	margin-top: 5px;
}
.tui-bottom .tui-bottom-ul1 li {
	width: 62px;
	height: 35px;
	text-align: center;
	float: left;
}
.tui-bottom img {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.tui-bottom .tui-bottom-ul2 li {
	width: 47px;
	margin-left: 15px;
	height: 20px;
	color: #696969;
	font-size: 15px;
	float: left;
	line-height: 20px;
}
.search1{
	margin-top: 80px;
	/*border: 1px solid red;*/
	width: 100%;
	height: 150px;
}
.search2{
	width: 100%;
	height: 150px;
	background-color: gray;
	/*border: 1px solid yellow;*/
}
.search3{
	width: 100%;
	height:150px;
	text-align: center;
	/*border: 1px solid aquamarine;*/
}
.search3 input[type="text"]{
	display: inline-block;
	/*margin-left: 600px;*/
	margin-top: 50px;
    height: 50px;
    line-height: 1.2;
    width: 600px;
    padding: 0 40px 0 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 30px;
    background-color: #faf8fa;
    overflow: hidden;
    color: #333;
    outline: none;
}
.search3 input[type="button"]{
	outline: none;
	display: inline-block;
	vertical-align: top;
	/*border: 2px solid greenyellow;*/
	margin-top: 56px;
	margin-left: -58px;
	border: 0;
    height: 40px;
    width: 40px;
    background-color: #faf8fa;
    border-radius: 30px;
    background-image: url(../img/search2.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    cursor: pointer;
}
.search3 input[type="button"]:hover{
    background-image: url(../img/search3.png);
}
.search_show{
	margin-top: 2px;
	background-color: #f4f4f4;;
    width: 100%;
    height: 30px;
}
.search_show1{
	/*border: 1px solid red;*/
	min-height: 1400px;
	width: 1200px;
	margin: auto;
}
#search_show{
	display: inline-block;
	min-height: 1400px;
	width: 800px;
	/*border: 1px solid orangered;*/
}
.search_show2{
	border: 1px solid #999999;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 800px;
	height: 322.4px;
}
.search_show2 a>img{
	display: inline-block;
	width: 232px;
	height: 322px;
}
.search_show2_div1{
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid blueviolet;*/
	width: 450px;
	height: 350px;
	margin-left: 20px;
}
.search_show2_div1{
	font-size: 24px;
}
#search_show2_div1_p1_s1{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 250px;
}
#search_show2_div1_p1_s2{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 150px;
	margin-left: 35px;
}
.search_show2_div1_p1_s1{
	font-size: 12px;
    color: #999;
    /*margin-left: 120px;*/
}
.search_show2_div1_p1_s2{
	font-size: 12px;
    color: #333;
}
.search_show2_div1_p2{
	font-size: 12px;
    color: #999;
}

#search_show2_div1_p2_s1{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 250px;
}
#search_show2_div1_p2_s2{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 150px;
	margin-left: 32px;
}
.search_show2_div1_p2_s1{
    color: #333;
}
.search_show2_div1_p2_s2{
	/*margin-left: 120px;*/
}
.search_show2_div1_p2_s3{
	color: #333;
}
.search_show2_div1_p3{
	font-size: 12px;
    color: #999;
}
#search_show2_div1_p3_s1{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 250px;
}
#search_show2_div1_p3_s2{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 150px;
	margin-left: 32px;
}
.search_show2_div1_p3_s1{
    color: #333;
}
.search_show2_div1_p3_s2{
	/*margin-left: 120px;*/
}
.search_show2_div1_p3_s3{
	color: #333;
}
.search_show2_div2{
	/*border: 1px solid red;*/
	font-size: 12px;
    color: #999;
	width: 400px;
	height: 100px;
}
.search_show2_div3{
	margin-top: 27px;
	margin-left: 150px;
	width: 180px;
	height: 50px;
	border-radius: 5px;
	background-color: #FF6400;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.search_show2_div3:hover {
	background: rgb(255,130,0);
}
.search_show2_div3 a{
	display: inline-block;
	width: 150px;
	height: 50px;
	text-decoration: none;
	color: white;
}
.search_show3{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 500px;
	margin-left: 90px;
	margin-top: 20px;
	position: sticky;
	top: 100px;
}
.search_show3_div1{
	/*border: 1px solid red;*/
	height: 50px;
	width: 300px;
	color: #FF6400;
	font-size: 30px;
}
.search_show3_div2{
	border: 1px solid gainsboro;
	margin-top: 10px;
	height: 80px;
	width: 300px;
}
.search_show3_div2_div1{
	/*border: 1px solid yellow;*/
	display: inline-block;
	height: 80px;
	width: 120px;
	position: relative;
}
.search_show3_div2_div1 a img{
	/*display: inline-block;*/
	height: 80px;
	width: 120px;
}
.search_show3_div2_div1 a span img{
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	height: 25px;
	width: 30px;
}
.search_show3_div2_div2{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
	height: 80px;
	width: 180px;
}
.search_show3_div2_div2 a{
	display: inline-block;
	height: 80px;
	width: 180px;
	text-decoration: none;
}
.search_show3_div2_div2_p1{
	padding-left: 10px;
	font-size: 18px;
	color: #333;
}
.search_show3_div2_div2_p2{
	padding-left: 10px;
	font-size: 14px;
	margin-top: -5px;
	color: #FF6400;
}
.search_show3_div2_div3{
	/*border: 1px solid green;*/
	width: 300px;
	height: 340px;
	margin-top: 10px;
}
.search_show3_div2_div3 ul{
	margin: 0;
	padding: 0;
}
.search_show3_div2_div3 li{
	display: block;
	/*border: 1px solid red;*/
	width: 100%;
	height: 38px;
	line-height: 38px;
}
.search_show3_div2_div3 li:hover{
	background: rgba(220,220,220,0.3);
}
.search_show3_div2_div3 li a{
	display: block;
	width: 100%;
	height: 36px;
	text-decoration: none;
}
