<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuv.dao.MovieSeatDao">

  <select id="getScenes" resultType="com.iuv.pojo.movie.MovieScene">
    select id,scene_time,hall from scene where scene_time > date_add(NOW(), interval 15 MINUTE) and movie_id=#{movieId}
    order by scene_time
  </select>

  <insert id="addSeats">
    insert into seat(scene_id,user_id,seat_id) values
    <foreach collection="seatIds" separator="," item="seatId">
      (#{sceneId},#{userId},#{seatId})
    </foreach>
  </insert>

  <select id="getMovieMsg" resultType="com.iuv.pojo.movie.LittleMovieMsg">
    select mv_name,type,mv_time,area,sml_pic,price from movie where id=#{movieId}
  </select>
</mapper>